html {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    color: white;
    background-color: black;
}

header, main, footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    height: 300px;
    width: auto;
    padding: 20px;
}

.item {
    width: 320px;
    height: 45px;
    margin: 35px;
    background-color: #a95d7e;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bolder;
}

.item:hover {
    background-color: #93506d;
}

p {
    font-size: small;
}